<div class="about d-flex p-5" id="about">
    <div class="aboutLeft d-flex flex-column justify-content-center  mr-5">
        <h3 class="headline mb-4"> About Us</h3>
        <h2 class="mb-4 secondHeader">Your Gateway to Luxury Getaways</h2>
        <p class="pr-5">
            Indulge in the ultimate vacation experience with Opulence.
            Since our inception in 2024, we've been on a mission to redefine travel,
            offering discerning travelers like you a seamless and enriching booking journey.
            Our team of dedicated travel aficionados curates an exquisite selection of accommodations
            worldwide, ensuring that every stay is nothing short of extraordinary. Experience the pinnacle
            of hospitality with Opulence, where luxury meets convenience, and every journey becomes
            a cherished memory.
        </p>
    </div>
    <div class="aboutRight">
        <div class="roomImgs position-relative">
            <!-- <div class="roomImg1"> -->
                <img src="../images/room.jpeg" class="rounded roomImg1 position-absolute" alt="">
            <!-- </div> -->
            <!-- <div class=""> -->
                <img src="../images/room2.avif" class="rounded roomImg2" alt="">
            <!-- </div>                -->
        </div>
    </div>
</div>