{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    .carousel {
        height: 40vh;
        width:50%; /* Set the height of the carousel to 30% of the viewport height */
    }

   img {
        height: 100%; /* Set the height of the images within carousel items to 100% of the parent (carousel) height */
        width: 33.33%; /* Show three images on the screen for laptop view */
    }
</style>

<h1>Categories</h1>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for category in categories %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for category in categories %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'search_apartments'  %}?category={{category.id}}">
                <img class="d-block w-100" src="{{ category.category_image.url }}" alt="{{ category.category_name }}">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ category.category_name }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h1>Cities</h1>
<!-- Display the city -->
<p>City: {{ city }}</p>

<!-- Second carousel for cities -->
<div id="carouselExampleIndicatorsCities" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for city in cities %}
        <li data-target="#carouselExampleIndicatorsCities" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for city in cities %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'search_apartments'  %}?city_select={{city.city_name}}">
                <img class="d-block w-100" src="{% if city.city_image %}{{ city.city_image.url }}{% endif %}" alt="{{ city.city_name }}">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ city.city_name }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicatorsCities" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicatorsCities" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
