{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url "index" %}">
            <img src="{% static "/images/logo.png" %}" style="width: 40px; padding: 0; margin-right: 10px;" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">Link</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-reserv' %}" style="color: white;">Reservations</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color: white;">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" style="color: black;">Actions</a></li>
                        <li><a class="dropdown-item" href="#" style="color: black;">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" style="color: black;">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "users_login" %}" style="color: white;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "users_register" %}" style="color: white;">Sign Up</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <form method="post" action="{% url 'users_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn nav-link" style="color: white;">Logout</button>
                    </form>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
