{% extends "accounts_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="gradient-form" style="background-color: #eee">
    <div class="container py-sm-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <!-- Left side -->
                        <div class="" style="background-color: #424242">
                            <div class="card-body p-md-4 mx-md-4">
                                <div class="text-center">
                                    <a href="{% url "index" %}">
                                        <img src="{% static "/images/logo.png" %}" style="width: 100px" alt="logo" />
                                    </a>
                                    <h3 class="mt-1 mb-4 pb-1 text-white">Password Reset Instructions</h3>
                                </div>
                                <center>
                                <p class="mb-4 text-white">
                                    {% blocktrans trimmed %}
                                    We’ve emailed you instructions for setting your password,
                                    if an account exists with the email you entered.
                                    You should receive them shortly.
                                    {% endblocktrans %}
                                </p>
                                <p class="mb-0 text-white">
                                    {% blocktrans trimmed %}
                                    If you don’t receive an email, please make sure
                                    you’ve entered the address you registered with,
                                    and check your spam folder.
                                    {% endblocktrans %}
                                </p>
                            </center>
                            </div>
                        </div>
                        <!-- Right side -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
