{% extends "accounts_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="gradient-form" style="background-color: #eee">
    <div class="container py-sm-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <!-- Left side -->
                        <div class="col-lg-12" style="background-color: #424242">
                            <div class="card-body p-md-4 mx-md-4">
                                <div class="text-center">
                                    <a href="{% url "index" %}">
                                        <img src="{% static "/images/logo.png" %}" style="width: 100px" alt="logo" />
                                    </a>
                                    <h3 class="mt-1 mb-4 pb-1 text-white">{% trans "Reset Password" %}</h3>
                                </div>
                                {% if validlink %}
                                    <form method="post">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            {% if form.new_password1.errors %}
                                                <div class="callout callout-danger">
                                                    <p>{{ form.new_password1.label }}: {{ form.new_password1.errors|join:', ' }}</p>
                                                </div>
                                            {% endif %}
                                            {% if form.new_password2.errors %}
                                                <div class="callout callout-danger">
                                                    <p>{{ form.new_password2.label }}: {{ form.new_password2.errors|join:', ' }}</p>
                                                </div>
                                            {% endif %}
                                            {% if form.non_field_errors %}
                                                <div class="callout callout-danger">
                                                    {% for error in form.non_field_errors %}
                                                        <p>{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="input-group mb-3">
                                            <input type="password" name="new_password1" class="form-control" placeholder="{{ form.new_password1.label }}" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="password" name="new_password2" class="form-control" placeholder="{{ form.new_password2.label }}" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                            
                                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="p-2 text-white btn-block fa-lg gradient-custom-2 mb-3 mainBtn">
                                                    Log in
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <center><p class="text-white"> 
                                        {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

                                    </p>
                                </center>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
