{% extends "accounts_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="gradient-form" style="background-color: #eee">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-8">
                <div class="card rounded-3 text-black">
                    <!-- Left side -->
                    <div class="" style="background-color: #424242">
                        <div class="card-body p-md-4 mx-md-4">
                            <div class="text-center">
                                <a href="{% url "index" %}">
                                    <img src="{% static "/images/logo.png" %}" style="width: 100px" alt="logo" />
                                </a>
                                <h3 class="mt-1 mb-4 pb-1 text-white">Password Reset Done</h3>
                            </div>
                            <center>
                                <p class="text-white"> 
                                    {% trans "Your password has been set. You may go ahead and log in now." %}
                                </p>
                                <a href="{% url 'users_login' %}"         data-mdb-button-init
                                data-mdb-ripple-init
                                class="p-2 text-white btn-block fa-lg gradient-custom-2 mb-3 mainBtn">{{ _("Log in") }}</a>
                            </center>
                        </div>
                    </div>
                    <!-- Right side -->
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
