* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #313131;
    --secondary-color: #737373;
    --hover-color: #7b6025;
    --secondary-golden-color: #a97510;
}

img {
    width: 100%;
}
/* home */
.loginLinks {
    gap: 40px !important;
}
.loginBtn {
    background-color: var(--secondary-color);
    width: 80px;
}
.loginBtn:hover {
    background-color: var(--hover-color);
}
header {
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 67px;
    display: flex !important;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.navLink {
    color: rgb(255, 255, 255);
}
.navLink:hover {
    color: white;
    background-color: var(--hover-color);
}
.linksAndLogo {
    gap: 30px !important;
}
