    /* loginPageAndGeneral */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #d2c581, #383232, #e98d03, #000000);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #98772e, #000000);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    
    .navigationBtn {
        color: black;
}
    .navigationBtn:hover {
        background: linear-gradient(to right, #98772e, #000000);
        color: white;
        border: 2px solid black !important;
        text-decoration: none;
    }

    .mainBtn {
        transition: all .2s ease !important;
}
    .mainBtn:hover {
        border: 2px solid black !important;
    }
    /* loginPageAndGeneral */

    /* OnlySignUpPage */
    .signupName {
        width: 48% !important;
    }
    /* OnlySignUpPage */
