* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #313131;
    --secondary-color: #737373;
    --hover-color: #7b6025;
    --secondary-golden-color: #a97510;
}

img {
    width: 100%;
}
/* home */
.loginBtn {
    background-color: var(--secondary-color);
    width: 120px;
    margin-left: 8rem;
}
.loginBtn:hover {
    background-color: var(--hover-color);
}
header {
    position: absolute;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.navLink {
    color: black;
}
.navLink:hover {
    color: white;
    background-color: var(--hover-color);
}

.landing {
    background-image: url("../images/homeImage.jpg");
    background-size: cover;
    height: 100vh;
}
.searchContainer {
    height: 56vh;
}
label {
    position: absolute;
    left: 50%;
    font-size: 12px;
    background-color: var(--main-color);
    transform: translatex(-50%);
    padding: 2px;
}
.formRow {
    display: flex;
    justify-content: center;
}

.tm-form-element {
    position: relative;
}
.tm-section-pad-2 {
    padding: 30px 20px 14px;
}
.form-control {
    border-radius: 0;
    padding: 1.8rem 55px !important;
}
.tm-search-form {
    width: 54%;
    background-color: var(--main-color);
}
.tm-search-form .tm-form-element {
    width: 33%;
}
.tm-search-form .tm-form-element {
    padding: 0 5px;
}
.form-group {
    margin-bottom: 1rem;
}
.tm-form-element-icon {
    color: var(--main-color);
    position: absolute;
    top: 15px;
    left: 15px;
}
.childIcon {
    top: 22px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fcfeff;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.checkBtnDiv {
    width: fit-content !important;
    left: 50%;
    transform: translateX(-50%);
}
.checkBtn {
    padding: 0.7rem;
    width: 200px;
    color: white !important;
    background-color: var(--secondary-color) !important;
}
.checkBtn:hover {
    background-color: var(--hover-color) !important;
}
/* home */

/* about */
.aboutLeft {
    width: 40%;
}
.headline {
    font-weight: bold !important;
}
.secondHeader {
    color: var(--secondary-golden-color);
}
.aboutRight {
    width: 57%;
    text-align: right;
}
.roomImg1 {
    right: 51%;
    top: 50%;
    transform: translateY(-50%);
    width: 52%;
    height: 80%;
    box-shadow: -2px 4px 17px rgba(0, 0, 0, 1);
}
.roomImg2 {
    width: 55%;
    box-shadow: -2px 4px 17px rgba(0, 0, 0, 2);
}
/* about */

/* services */
.services {
    padding: 3rem 3rem 0;
    background: #d7d7d7;
}
.services img {
    width: 90%;
}
/* services */

/* reviews  */
.reviews {
    height: 100vh;
}
.reviews .cards {
    height: 21rem;
    gap: 20px;
    margin-bottom: 85px;
}
.reviews .card {
    height: 21rem;
    box-shadow: 7px 7px 18px rgba(0, 0, 0, .8);
}
.starColor {
    color: var(--secondary-golden-color);
}
/* reviews  */

/* contact  */
.contact {
    background: var(--main-color);
    padding: 4rem;
}
footer .social a {
    color: white;
    padding: 0.6rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-color);
}
footer .social a i {
    width: 1.6rem;
}
footer .social a:hover {
    color: white;
    background: var(--hover-color);
}
footer .links a:hover {
    color: var(--hover-color) !important;
}
/* contact  */