<!-- Template code of the next page (e.g., create-reserv.html) -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 ">
            <form action="{% url 'creat-reserv' apartment.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="check-in-date" class="form-label">Check-in Date</label>
                    <input type="date" class="form-control" id="check-in-date" name="check_in_date" required>
                </div>
                <div class="mb-3">
                    <label for="check-out-date" class="form-label">Check-out Date</label>
                    <input type="date" class="form-control" id="check-out-date" name="check_out_date" required>
                </div>
                <input type="hidden" name="apartment" value="{{ apartment.id }}">
                <button type="submit" class="btn btn-primary">Book Now</button>
            </form>
        </div>
    </div>
</div>
