<div id="carouselExampleDark1" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        {% for apartment_set in apartment_sets %}
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for apartment_set in apartment_sets %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
                <div class="cards d-flex justify-content-center align-items-center">
                    {% for apartment in apartment_set %}
                        <div class="card p-2 m-3 justify-content-between" style="width: 18rem;">
                            <img src="{{ apartment.cover_image.url }}" alt="{{ apartment.apt_name }}">
                            <h3 class="text-center mt-2">{{ apartment.apt_name|truncatewords:4 }}</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
