{% extends "base.html" %}
{% block title %}{{ apartment.apt_name }}{% endblock title %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>

{% block content %}
<div class="container mt-4">


  
    <div class="row">

        {% if not favorite %}
        <form method="post" action="{% url 'favorite_create'  %}">
    
            {% csrf_token %}
            <input type="hidden" name='apartment' value='{{apartment.id}}'>
            <input type="hidden" name="next" value="{{ request.path }}">

            <!-- Add form fields here if necessary -->
            <button class="btn" type="submit" >
                <h2 title="Add to favorite" class="bi bi-balloon-heart "></h2>
             </button>
        </form>
        
        {% endif %}
        {% if favorite %}
        
        <form method="post" action="{% url 'favorite_delete' favorite.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">

            <button class="btn" type="submit">
                <h2 title="Remove from favorite" class="bi bi-balloon-heart-fill"></h2>
              </button>
        </form>
        {% endif %}

        <div class="col-md-8">
           


            <h1>{{ apartment.apt_name }}</h1>
            <p class="lead"><strong>Description:</strong> {{ apartment.description }}</p>
            <div class="row mb-4">
                <div class="col-md-6">
                    <p><strong>Category:</strong> {{ apartment.category }}</p>
                    <p><strong>Rooms:</strong> {{ apartment.rooms }}</p>
                    <p><strong>Beds:</strong> {{ apartment.beds }}</p>
                    {% if apartment.wifi %}
                        <p><strong>Wifi:</strong> Yes</p>
                    {% else %}
                        <p><strong>Wifi:</strong> No</p>
                    {% endif %}
                    {% if apartment.tv %}
                        <p><strong>TV:</strong> Yes</p>
                    {% else %}
                        <p><strong>TV:</strong> No</p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p><strong>City:</strong> {{ apartment.city }}</p>
                    <p><strong>Country:</strong> {{ apartment.country }}</p>
                </div>
            </div>
        </div>
<select name="" id="">
    <option value=""> {{ apartment.city }};{{ apartment.country }}</option>
</select>

        <div class="col-md-4">
            {% if images %}
                <h2 class="mb-3">Images</h2>
                <div class="row">
                    {% for apt_image in images %}
                        <div class="col-md-6 mb-3">
                            <img src="{{ apt_image.image.url }}" alt="house image" class="img-fluid rounded">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-4">
    {% if user.is_authenticated %}
        {% include "../reservations/res_apt.html" %}
        <div class="container mt-4">
            {% include "reviews/list_comment.html" %}
            {% if add_comment %}
            {% include "reviews/add_comment.html" %}

            {% endif %}

        </div>
    {% else %}

        <p class="lead">To book this apartment, please <a href="{% url "users_login" %}?next=/{{apartment.id}}" class="text-primary">log in</a> or <a href="{% url "users_register" %}" class="text-primary">sign up</a>.</p>

    
        {% endif %}
</div>


{% endblock content %}
